Source: nightcap
Section: unknown
Priority: extra
Maintainer: Dan Rice <dan@zoombody.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/zoombody/nightcap
Vcs-Git: https://github.com/zoombody/nightcap.git
Vcs-Browser: https://github.com/zoombody/nightcap

Package: nightcap
Architecture: all
Depends: ${misc:Depends}
Description: utility to put an idle server to sleep
